
.header{
	overflow: hidden;
	width: 100%;
	height: 173px;
}
.contain{
	position: relative;
	width: 1000px;
	height: 600px;
}
.contain .list{
	position: absolute;
	width: 200px;
}
.contain .list img{
	margin-top: 10px;
	margin-left: 10px;
}
.contain .list ul{
	background-color: #FFF;
	margin-left: 10px;
	width: 184px;
	list-style: none;
}
.contain .list ul li{
	border: 1px solid #d3d3d3;
	text-align: center;
	width: 184px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
}
.contain .list ul li a{
	color: #333333;
	text-decoration: none;
}
.contain .list ul li a img{
	margin-top: 17px;
	margin-right: 10px;
	float: right;
}
.contain .list ul li a:hover{
	color: #627FBE;
}
.contain .list ul li:hover{
	background-color: #F4FCFE;
	font-weight: bolder;
}
.contain .newlist{
	width: 780px;
	height: 600px;
	margin-left: 20px;
	position: relative;
	float: right;
}
.contain .newlist .newstop{
	position: relative;
}
.contain .newlist .newstop .title{
	top: 0px;
	left: 50px;
	position: absolute;
	width: 200px;
	height: 60px;
	font-size: 16px;
	font-weight: bolder;
	line-height: 60px;
}
.contain .newlist .newstop .wz{
	top: 0px;
	right: -50px;
	position: absolute;
	width: 200px;
	height: 60px;
	font-size: 12px;
	line-height: 60px;
}
.contain .newlist .newstop .wz a:hover{
	color: red;
}
.contain .newlist .list ul{
	
	list-style: none;
	width: 780px;
}
.contain .newlist .list ul li{
	height: 35px;
	border: none;
	line-height: 35px;
	text-align: left;
	margin-left: -10px;
	width: 780px;
	font-size: 13px;
}
.contain .newlist .list ul li a{
	display: block;
}
.contain .newlist .list ul li a img{
	float: left;
	margin-top: 7px;
}
.contain .newlist .list ul li a span{
	float: right;
}
.contain .newlist .list ul li a:hover{
	font-weight: normal;
}
.contain .page{
	border-top: 1px #666 dotted;
	width: 800px;
	height: 35px;
	position: absolute;
	bottom: 0px;
}



.contain1{
	position: relative;
	width: 1000px;
	height: 950px;
}
.contain1 .page1{
	width: 1000px;
	height: 35px;
	position: absolute;
	bottom: 0px;
}

.contain1 .result{
	margin-top: 0px;
	width: 1000px;
	height: 915px;
}
.contain1 .result p{
	padding-top: 20px;
	font-size: 20px;
	font-weight: bold;
}
.contain1 .result p.weizhi{
	padding-top: 0px;
	float: right;
	font-size: 12px;
	font-weight: normal;
}
.contain1 .result p.time{
	margin-left: 125px;
	text-align: center;
	padding-top: 0px;
	font-size: 12px;
	font-weight: normal;
}
.contain1 .result p.tip{
	margin-top: -30px;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	color: red;
}
.contain1 .result p.time span{
	font-weight: bold;
	color: red;
}
.contain1 .result ul{
	list-style: none;
}
.contain1 .result ul li{
	padding-left: 20px;
	padding-right: 20px;
	font-size: 13px;
}
.contain1 .result ul li a{
	color: red;
}
.contain1 .result ul li a:hover{
	text-decoration: none;
}